@import '../../../../common/styles/mixins';

.filmCardContainer {
  max-width: 555px;
  max-height: 171px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(17, 17, 17, 0.8);
  @include flex(row, space-between, flex-start, nowrap);


    .aboutFilm {
      display: flex;

      padding: 15px 20px 8px;

      .descriptionContainer {

        display: none;
        @include flex(row, space-between, center, wrap);

        .genres {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          margin-bottom: 30px;
        }

        .awards {
          position: relative;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          &::before {
            content: '';
            position: absolute;
            top: -15px;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.05);
            transform: rotate(0.5turn);
          }
        }
      }

      .ratingContainer {

      }
    }
}


