@import '../../../common/scss/mixins';
@import '../../../common/scss/variables';
@import '../../../assets/video';

.searchPage {
  min-height: 100vh;
  //background-image: url('../../../assets/images/background.png');
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  @include flex(column, center, center, nowrap);
}

.container {
  @include flex(column, flex-start, center, nowrap);
  color: $primaryFontColor;
  transform: translateY(50px);
}